DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE_NAME?schema=public"
AUTH_SECRET="change-me-with-a-long-random-secret-at-least-32-characters"

# NODE_ENV dikelola oleh Next.js:
# next dev         -> development
# next build/start -> production